/* Main */
main, header {
  padding: 15px 20px;
}

/* Hero */

.hero {
  position: relative;
  min-height: 50vh;
  overflow: hidden;

  padding: 24px 16px;

  display: grid;
  gap: 16px;
  align-content: start;
}

.hero-media {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-text,
.cv-card,
.temaer-card {
  position: relative;
  z-index: 2;
}

.hero h1 {
  margin: 0 0 8px;
}

.hero h2 {
  margin: 0 0 16px;
  font-size: 1rem;
}
  

/* cards */
.cv-card,
.temaer-card {
  padding: 16px;
  border: 1px solid #29F952;
  border-radius: 8px;
  background-color: #000;  
  text-align: center;
  max-width: 300px;
  margin: 16px auto; 
}


.cv-card h2,
.temaer-card h2 {
  font-family: "Blisey", serif;
  font-size: 2rem;
  color: #29F952;
  margin-bottom: 8px;
}

.cv-card a,
.temaer-card a {
  display: inline-block;
  margin-top: 8px;
}

/* Footer */
footer {
  padding: 16px;
  text-align: center;
  font-size: 1rem;
}

footer p {
    color: #29F952;
}

/* temablokke til temaoversigt siden */

.tema-oversigt {
    margin: 32px 0;
    max-width: 600px;
  
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .tema-oversigt h2,
  .tema-oversigt h3 {
    margin: 0;
    line-height: 1.3;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .tema-oversigt h3 {
    font-size: 1.8rem;
  }
  
  .tema-oversigt img {
    width: 100%;
    height: auto;
  }
  
  .tema-oversigt .btn-green {
    align-self: flex-start;
    width: auto;
    font-size: 0.6rem;
  }

  /* regel så ordet brugergræseflade også bryder i desktopformat */

  .tema-oversigt .tema-text {
    min-width: 0;
  }
  
  /* temaregler til individuelle temasider*/

  .tema-afsnit {
    margin: 32px 0;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .tema-media img {
    width: 100%;
    height: auto;
    display: block;
  }

  .tema-links {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
  }
  
  .tema-links a {
    width: auto;
    font-size: 0.6rem;
  }

  .tema-titel h1 {
  font-family: "Blisey", serif;
  font-size: 2.5rem;
  color: #29F952;
  overflow-wrap: break-word;
  word-wrap: break-word;
  }

  .tema-indhold h2 {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #d9d9d9;
  }

  .tema-afsnit h3 {
    font-family: "Lato", Arial, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.3;
    color: #d9d9d9;
    margin-top: 40px;
  }

  /* regler til cv siden*/

  .cv-block h3 {
    font-family: "Lato", Arial, sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.3;
    color: #d9d9d9;
    margin: 0; 
  }

  .cv .btn-transparent {
    align-self: flex-end;
    width: auto;
    font-size: 0.7rem;
  }

  .cv-block {
    margin: 32px 0;  
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .cv .meritter {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-end; 
  }

.meritter-list {
  display: none;
  margin-top: 0px;
}

.meritter-list.is-open {
  display: block;
}

dt {
    font-family: "Lato", Arial, sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1.2;
  margin-top: 15px;
  color: #29F952;
}

dd {
    font-family: "Lato", Arial, sans-serif;
    font-weight: 400;
  margin-left: 0;
  margin-top: 4px;
  font-size: 0.9rem;
  line-height: 1.1;
  color: #29F952;
}